.navbar-inverse {
                
    background: #181d26;
    font-family: 'Berkshire Swash';
                }
           
            

.jumbotron {
     
     background-image:  linear-gradient(orange, transparent), url("./pics/DSC_0233.JPG") ;
     background-size:cover;
     color: black;
     font-family: Bangers;
     text-align: center;
            }
.glyphicon {
    margin: .25em;
        }
 body {
     padding-top: 70px;
     background: lightblue;
    }
 .thumbnail img{
     box-sizing: border-box;
    display:inline-block;
    border:1px;
   width: auto;
    position: relative;
 height: 250px;
    overflow:hidden;
     }
.thumbnail:hover img{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}