body {
    height: 100%;
    margin:0px;
    background: url(./pmkur/4.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 70px;
}
h1 {
    font-family: Righteous;
    font-size: 1.5em;
}
.list-inline-item {
    background-color: rgba(0,0,0,0.7)
}
.row {
    margin: 20% 0% 20% 0%;
    color: #D6EFDE;
    padding: 0% 0% 10% 0%;
    text-shadow: 0px 4px 3px #0A0404;
}

.logo1 {
    padding: 5px;
    margin 5px;
}
.navbar-brand {
    padding: 0px 5px;
    
}

h2 {
    background-color: rgba(0,0,0,0.2)
}
        

html {
    height:100%;
}

 .ml-auto {
     text-align: justify;
 }   

.mr-auto img {
    
   margin-top: 15%;
   padding:1px;
   border:1px solid #909DB1;
   
}

    
.head {
   text-align: center;
  
    /* background: rgba(184, 214, 184, 0.78); */
    color: #D6EFDE;
padding: 0% 0% 30% 0%;
text-shadow: 0px 4px 3px #0A0404;

}
.headLine {
    width: 50%;
    border-top: 1px solid #f8f8f8;
    border-bottom: rgba(0,0,0,0.2);
}
hr { 
     width: 75%;
    border-top: 1px solid #f8f8f8;
    border-bottom: rgba(0,0,0,0.2);

}
footer {
    text-align: center;
    font-family: Acme;
    color: silver;
    margin-bottom: 10px;
}
.service_img {
    max-height:80%; 
    max-width:80%;
}
.head_img {
    
    height: 50px;
    width: 60px;
  align-self:left;
    object-fit: fill;
   
    /* padding-bottom: 10px; */
}
.navbar-toggle {
    width:85%;
}
.iconsnav{
    object-fit: fill;
    position: relative;
    
}
.fa {
    margin-left: 7%;
    font-size: 2.5rem;
    color: #D6EFDE;
}
.fa:hover{
    color: rgba(126, 126, 196, 0.56);
}
.navbar{
    font-family: Righteous;
    
}
