body {
    height: 100%;
    margin:0px;
    background: url(./pmkur/4.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 70px;
}
h1 {
    font-family: Righteous;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.3);
    width: fit-content;
    text-align: -webkit-center;
    margin: auto;
    padding: 1.5rem;
    border-radius: 14px;
}
.list-inline-item {
    background-color: rgba(0,0,0,0.7)
}
.row {
    margin: 20% 0% 20% 0%;
    color: #D6EFDE;
    padding: 0% 0% 10% 0%;
    text-shadow: 0px 4px 3px #0A0404;
}

.logo1 {
    padding: 5px;
    margin: 5px;
}

.logo1 img {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2rem;
    border-radius: 55px;
}
.navbar-brand span{
   text-align: top;
   margin-bottom: 5px;
    font-size: 4rem;
  height: 100%;
  width: 100%;
}
.
h2 {
    background-color: rgba(0,0,0,0.2)
}
        

html {
    height:100%;
}

 .ml-auto {
     text-align: justify;
 }   

.mr-auto img {
   margin: 15% 0px 0px 15%;
  
   padding:1px;
   border:1px solid #909DB1;
   
}

    
.head {
   text-align: center;
  
    /* background: rgba(184, 214, 184, 0.78); */
    color: #D6EFDE;
padding: 0% 0% 30% 0%;
text-shadow: 0px 4px 3px #0A0404;

}
.headLine {
    width: 50%;
    border-top: 1px solid #f8f8f8;
    border-bottom: rgba(0,0,0,0.2);
}
hr { 
     width: 75%;
    border-top: 1px solid #f8f8f8;
    border-bottom: rgba(0,0,0,0.2);

}
footer {
    text-align: center;
    font-family: Acme;
    color: silver;
    margin-bottom: 10px;
}
.service_img {
    max-height:80%; 
    max-width:80%;
}

.navbar-toggle {
    width:100%;
    float:none;
}
.iconsnav {
    margin: auto;
}
.iconsnav span{
    font-family: icomoon;
    margin-left: 7%;
    font-size: 2.5rem;
    color: #D6EFDE;
}

.iconsnav span:hover{
    color: rgba(126, 126, 196, 0.56);
}
.navbar{
    font-family: Righteous;
    
}
.logo {
    color: white;
}
.navbar-mob span{
    size: 4rem;
 margin-left:8%;
}
